.settings
.classpath
.project
.idea
/docker/stable-diffusion/models
/docker/chatterbox/voices
/docker/index-tts/voices
/docker/index-tts/checkpoints
/references
/node_modules
/src/main/bundles
/target
/test-reference-results
/tts

ai-test-results
*log.*.gz
package.json
package-lock.json
references/*.png
references/*.svg
public/cache
public/report/result
public/report/logs
webpack.config.js
webpack.generated.js
*.war
*.log
*.jar
*.zip
/.idea
/public/testCache
/docs
*.db
test-results
test-recordings
src/main/frontend/generated
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts